<h3> <%= email.title %></h3>
<p>  <%= email.body %></p>
<div class="btn-group">
  <a href="<%= email_path(email.id) %>" class="btn btn-danger" data-confirm='Are you sure ?' data-method='delete' data-remote="true">Supprimer</a>
  <a href="<%= email_path(email.id) %>" class="btn btn-secondary" data-method='put' data-remote="true">Marquer comme non-lu</a>
</div>
